
.env.dev
.env.preprod
.env.prod
# Playwright
.env.dev
.env.preprod
.env.prod
node_modules/
.env.dev
.env.preprod
.env.prod
/test-results/
.env.dev
.env.preprod
.env.prod
/playwright-report/
.env.dev
.env.preprod
.env.prod
/blob-report/
.env.dev
.env.preprod
.env.prod
/playwright/.cache/
.env.dev
.env.preprod
.env.prod
/playwright/.auth/
.env.dev
.env.preprod
.env.prod
